@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #CAD3F5;
    background: #1A1B26;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    background: #11111b;
    padding: 25px;
    border-radius: 14px;
    border: 1px solid rgba(202, 211, 245, 0.229);
    width: 700px;
    min-width: 700px;
    text-align: center;
    box-sizing: border-box;
    height: 550px;
}

.box img {
    width: 200px;
    position: relative;
    float: left;
    margin-bottom: 15px;
}

.box .floats {
    position: relative;
    float: left;
    height: 450px;
    border-right: 1px solid #181825;
}

.box .icons {
    flex-direction: row;
    padding-top: 30px;
    position: relative;
    gap: 10px;
    margin-top: 20px;
}

.info {
    position: absolute;
    margin-top: 230px;
    width: 200px;
}

.info2 {
    position: absolute;
    margin-top: 345px;
    width: 200px;
}

.box .icons img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 100px;
    margin: 3px;
}

.box .text {
    flex-direction: column;
    display: flex;
    width: 300px;
    position: relative;
    left: 80px;
    padding-top: 10px;
}

.scroll-proj {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 250px;
    gap: 15px;
    margin-top: 10px;
}

.project {
    padding: 15px;
    background: #24283b;
    border: 1px solid rgba(202, 211, 245, 0.229);
    border-radius: 10px;
    height: 250px;
    gap: 10px;
}

.project p {
    color: #CAD3F5;
    margin-top: 5px;
}

.project .btn {
    background: #313244;
    border: 1px solid #181825;
    padding: 8px 16px;
    color: #CAD3F5;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    display: inline-flex;
    border-radius: 5px;
    align-items: center;
    gap: 6px;
}

i {
    font-size: 20px;
}